<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <concordpay>
                <active>1</active>
                <model>Concordpay\Payment\Model\Concordpay</model>
                <title>Concordpay</title>
                <merchant>merchant_id</merchant>
                <secret_key>secret_key</secret_key>
                <request_url>https://pay.concord.ua/api</request_url>
                <order_status>pending_payment</order_status>
                <sort_order>100</sort_order>
                <payment_action>https://pay.concord.ua/api</payment_action>
                <allowspecific>0</allowspecific>
            </concordpay>
        </payment>
    </default>
</config>
